.wrap{
    width: 100%;
}
.container{
    width: 336px;
    height: auto;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    margin: 0 auto;
}
header{
    height: 28px;
    width: 100%;
    background-color: #FFDC40;
    border-radius: 10px 10px 0 0;
}
main{
    width: 90%;
    margin: 0 auto;
}
.title{
    text-align: center;
}
.sort{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}
#sort_up{
    display: none;
}
#sort_up:hover{
    color:black;
}
#sort_down:hover{
    color:black;
}
iconify-icon{
    font-size: 25px;
    color:#C4C4C4;
}
.save_box iconify-icon:hover{
    color: #833AE0;
}
.save_box{
    max-height: 200px;
    overflow:auto;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 5px 0 15px 0;
}
.add_box{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 5px;
}

.add_box input{
    border: none;
    width: 84%;
    height: 40px;
    margin-right: 10px;
}
.lists{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.lists .list{
    display: flex;
    width: 95%;
    height: 30px;
}
.lists .list .list_item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}
.txt_div{
    width: 100%;
}
.lists .list:not(:last-child){
    margin-bottom: 15px;
}

.btn{
    display: flex;
    justify-content: center;
}
.add_btn{
    display: flex;
    position: relative;
    width: 150px;
    height: 42px;
    margin: 17px 0;
}
.plus{
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #9953F1;
    color:white;
    font-weight: bold;
}.add_btn button{
    color: white;
    width: 100%;
    background-color: #833AE0;
    border-radius: 71px;
    border: none;
}
.add_btn:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}